<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<!-- General description of your web application -->
	<display-name>SpringProject - Webapp</display-name>
	<description>
		The project of SpringProject is just for learning Spring.
		justfordev.wu@gmail.com
		See http://tomcat.apache.org/tomcat-6.0-doc/appdev/web.xml.txt for more
		information
		regarding this Web Descriptor File.
	</description>
	
	<context-param>
		<param-name>ServiceName</param-name>
		<param-value>Spring Web System</param-value>
	</context-param>

	<!-- Spring Configures --> 
	<context-param>
		<param-name>ContextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- SpringMVC Configures -->
	<servlet>
		<servlet-name>springProject</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEW-INF/springProject-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>springProject</servlet-name>
		<url-pattern>/**</url-pattern>
	</servlet-mapping>

	<!-- welcome page configure -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>